/vendor
.env
.idea
/public/build/*
*.*.map
!/storage/fonts/.gitkeep
/storage/fonts/*.ttf
/storage/fonts/*.php
/storage/fonts/*.ufm
/storage/app/*
!/storage/app/tests/*
/public/assets/manage/css/style.css
/public/assets/manage/js/scripts.js
node_modules/
/public/assets/app/js/scripts.js
/public/storage
.DS_STORE
/public/assets/app/js/vendor.js
/public/assets/app/js/bugsnag.min.js
/public/assets/app/js/semantic.min.js
/public/assets/app/css/semantic.min.css
/public/assets/app/css/vendor.css
/yarn-error.log
/.env.dusk.local
/_ide_helper_models.php
/.phpstorm.meta.php
/_ide_helper.php
/.buildpath
/.project
/.settings/*
/nbproject/private/